# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Data files (to avoid storing potentially sensitive data)
backend/data/*.csv
backend/data/*.xlsx
backend/data/*.xls

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv